-if %i[update destroy].any? { |action| can? action, question }
  p= link_to 'Edit question', '#', class: 'edit-question-link', data: { question_id: question.id }
  p= link_to 'Delete',
          question_path(question),
          method: :delete,
          remote: true,
          data: { confirm: 'Are you sure?' }

-if can? :subscribe, question
  -if current_user.subscribed?(question)
    p= link_to 'Unsubscribe', subscribe_question_path(question),
            class: 'unsubscribe-link',
            method: 'patch',
            remote: true,
            data: { link_name: 'unsubscribe-link', subscribed: true }
    p= link_to 'Subscribe', subscribe_question_path(question),
            class: 'subscribe-link hidden',
            method: 'patch',
            remote: true,
            data: { link_name: 'subscribe-link', subscribed: false }
  -else
    p= link_to 'Subscribe', subscribe_question_path(question),
            class: 'subscribe-link',
            method: 'patch',
            remote: true,
            data: { link_name: 'unsubscribe-link', subscribed: true }
    p= link_to 'Unsubscribe', subscribe_question_path(question),
            class: 'unsubscribe-link hidden',
            method: 'patch',
            remote: true,
            data: { link_name: 'subscribe-link', subscribed: false }
