-if %i[update destroy].any? { |action| can? action, question }
  p= link_to 'Edit question', '#', class: 'edit-question-link', data: { question_id: question.id }
  p= link_to 'Delete',
          question_path(question),
          method: :delete,
          remote: true,
          data: { confirm: 'Are you sure?' }

-if current_user&.subscribed?(question)
  -if can? :destroy, current_user&.subscription(question)
    p= link_to 'Unsubscribe', subscription_path(current_user.subscription(question)),
            class: 'unsubscribe-link',
            method: 'delete',
            remote: true
-else
  -if can? :create, Subscription
    p= link_to 'Subscribe', question_subscriptions_path(question),
            class: 'subscribe-link',
            method: 'post',
            remote: true
