h1= question.title
p= question.body

-if %i[vote_for vote_against vote_cancel].any? { |action| can? action, question }
  = render 'shared/vote_links', resource: question

= render 'questions/attached_files', question: question
= render 'questions/actions', question: question
= render 'questions/attached_links', question: question
= render 'questions/edit_form', question: question
= render 'questions/comments', question: question
