= render 'answers/best_links', answer: answer
= render 'shared/vote_links', resource: answer

p= answer.body

= render 'answers/attached_links', answer: answer
= render 'answers/attached_files', answer: answer
= render 'answers/actions', answer: answer
= render 'answers/edit_form', answer: answer
= render 'answers/comments', answer: answer
hr
